---
import About from '@components/About.astro';
import Contact from '@components/Contact.astro';
import Hero from '@components/Hero.astro';
import Projects from '@components/Projects.astro';
import BackToTop from '@components/ui/BackToTop.astro';
import Education from '@components/Education.astro';
import Layout from '@layouts/Layout.astro';
import Skills from '@components/Skills.astro';
import ChatBubble from '@components/ChatBubble.astro';
import WorkExperience from '@components/WorkExperience.astro';
---

<Layout>
	<main>
		<Hero />
		<About />
		<WorkExperience/>
		<Education/>
		<Skills/>
		<Projects />
		<Contact />
		<BackToTop />
		<ChatBubble />
	</main>
</Layout>
