---
import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';
import { SEO } from 'astro-seo';

export interface LayoutProps {
	title: string;
}

const { title = 'Carlos Hernandez | Backend developer' } = Astro.props as LayoutProps;
---

<!doctype html>
<html lang="en" class="scroll-smooth" data-testid="html">
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-2FNGEXENMW"></script>
		<script>
			// @ts-ignore
			window.dataLayer = window.dataLayer || [];
			// @ts-ignore
			function gtag() {
				// @ts-ignore
				window.dataLayer.push(arguments);
			}
			// @ts-ignore
			gtag('js', new Date());
			// @ts-ignore
			gtag('config', 'G-2FNGEXENMW');
		</script>
		<SEO title="Portafolio Carlos Hernandez" description="Portafolio ." />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/yo.jpeg" />

		<title>{title}</title>
	</head>
	<body
		class="mx-auto max-w-screen-xl bg-white px-5 font-sans text-white dark:bg-black xs:text-[16px] md:text-[18px]"
	>
		<Navbar />
		<slot />
		<Footer />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
