---

---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Sobre mi</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Soy un desarrollador backend enfocado en dar sentido y funcionalidad a los proyectos. Trabajo
			con tecnologías como Java, C#, JavaScript y TypeScript, y utilizo frameworks como Spring Boot,
			ASP.NET Core, Node.js y Nest.js según lo necesite el proyecto. Además, manejo bases de datos
			SQL como MySQL y SQL Server, y también he trabajado con Firebase. Lo que realmente me motiva
			es enfrentar problemas complejos y buscar soluciones que hagan que las aplicaciones sean
			eficientes y rápidas. Uso Git y GitHub para gestionar el código, y prefiero metodologías
			ágiles como Scrum, ya que facilitan el trabajo en equipo y la adaptación a los cambios en el
			desarrollo.
		</p>
	</div>
</section>
