<section
	data-testid="about"
	id="about"
	class="flex flex-col items-center justify-center lg:flex-row"
>
	<div class="mb-5 flex w-full flex-col items-center justify-center lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Sobre mí</h2>
		<span class="mb-4 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full mt-8 text-justify text-black dark:text-white lg:w-1/2">
		<p>
			Soy un desarrollador enfocado al Back-End pero poseo conocimientos de FrontEnd 
			lo que me facilita y me permite trabajar en proyectos completos.
			Mis conocimientos de Back-End engloban conocimientos en lenguajes de programacion 
			en los cuales estan: JAVA, JavaScript, TypeScript, C#, manejo de base de datos SQL y
			Framework como SpringBoot, NestJS, .NET, NodeJs.
			Los conocimientos de Front-End abarcan Framework como NextJS y tecnologias fundamentales como
			HTML, CSS y Tailwind CSS. Lo que mas destaco de mi persona es la manera de adaptarme 
			facilmente
		</p>
	</div>
</section>

