<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-white">
	<p>
		Copyright © {new Date().getFullYear()}.  <a
			
			target="_blank"
			rel="noopener"
		>
			<span class="text-orange"> </span>
		</a>
		<a href="#" target="_blank" rel="noopener"
			><span class="text-orange"></span></a
		>
	</p>
</footer>
