---
import { Icon } from 'astro-icon/components';
---

<a
	href="https://github.com/armandoC1"
	target="_blank"
	rel="noopener"
	aria-label="github"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="mdi:github"
		size={100}
	/></a
>
<a
	href="https://www.linkedin.com/in/carlos-armando-hernandez-rivera-b51448304/"
	target="_blank"
	rel="noopener"
	aria-label="linkedin"
	><Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="mdi:linkedin"
		size={100}
	/></a
>
<a href="https://wa.me/72983578" target="_blank" rel="noopener" aria-label="whatsapp">
	<Icon
		class="h-8 hover:text-orange dark:hover:text-orange md:h-12"
		name="mdi:whatsapp"
		size={100}
	/>
</a>
